<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Optional custom CSS styles */
        body {
            background-color: #f8f9fa; /* Light grey background */
            padding-top: 50px; /* Add some padding from the top */
        }
        .container {
            max-width: 400px; /* Set max width for the form container */
        }
        form {
            margin-bottom: 20px; /* Add margin below the form */
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="text-center">Signup</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-block">Signup</button>
        </form>
        <p class="text-center">Already have an account? <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Login</a></p>
    </div>

    <!-- Bootstrap JS and dependencies (Optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
